.badge {
  background-color: $bagde-bg-color;
  border-radius: radius(regular);
  color: $secondary-color;
  cursor: pointer;
  font-size: size(fs-badge);
  font-weight: 700;
  padding: 0.25rem 0.65rem;
  text-transform: capitalize;
}

.selected-badge {
  background-color: $btn-color;
}