.image-text {
  @include flex-column;
  align-items: center;
  gap: 0.5rem;

  img {
    border-radius: radius(circle);
    object-fit: cover;
  }

  p {
    color: $secondary-color;
    text-align: center;
    text-transform: capitalize;
  }

}