@include media-md {
  .form-wrapper {
    max-width: 45rem;
  }

  .container {
    max-width: 45rem;
  }
}

@include media-lg {
  .form-wrapper {
    max-width: 60rem;

    #form {
      width: 50%;
    }
  }

  .container {
    max-width: 71.25rem;
  }

  nav {
    .container {
      justify-content: normal;
      gap: 1rem;

      .navbar-toggle {
        display: none;
      }

      .navbar-collapse {
        display: flex !important;
        flex-basis: auto;

        .navbar-items {
          flex-direction: row;
        }
      }

      .show {
        flex-basis: auto;
        flex-grow: 0;
      }
    }
  }
}

@include media-xl {
  .form-wrapper {
    max-width: 82.5rem;
  }

  .container {
    max-width: 82.5rem;
  }
}

@include media-xxl {}