@include media-md {
  .form-wrapper {
    max-width: 45rem;
  }

  .container {
    max-width: 45rem;
  }

  .ReactModalPortal {
    .react-modal-overlay {
      .react-modal-content {
        max-width: 31.25rem;
      }
    }
  }
}

@include media-lg {
  .form-wrapper {
    max-width: 60rem;

    #form {
      width: 50%;
    }
  }

  .container {
    // max-width: 60rem;
    max-width: 72.25rem;
  }

  .nav-big,
  .nav-small {
    height: fit-content;
  }

  nav {
    .container {
      justify-content: normal;
      gap: 1rem;

      .navbar-toggle {
        display: none;
      }

      .navbar-collapse {
        display: flex !important;
        flex-basis: auto;

        .navbar-items {
          flex-direction: row;
        }
      }

      .show {
        flex-basis: auto;
        flex-grow: 0;
      }
    }
  }

  .movie-info {

    &-summary {
      flex-direction: row;
    }
  }

  .ReactModalPortal {
    .react-modal-overlay {
      .react-modal-content {
        max-width: 50rem;
      }
    }
  }
}

@include media-xl {
  .form-wrapper {
    max-width: 82.5rem;
  }

  .container {
    max-width: 82.5rem;
  }

  .ReactModalPortal {
    .react-modal-overlay {
      .react-modal-content {
        height: auto;
        transform: translateY(20%);

        .trailer {
          margin: 0;
        }
      }
    }
  }
}

@include media-xxl {}