.fade-in {
  animation: fadeIn 500ms forwards;
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}